# required packages

six==1.16.0
jedi==0.18.1
ipython==8.10.0
numpy==1.21.5
pandas==1.4.4
pyarrow==8.0.0
matplotlib==3.5.2
jinja2==2.11.3
ipykernel==6.17.1
grpcio==1.48.1
grpcio-status==1.48.1
databricks-sdk==0.1.6

# brought in by above packages, need to pin version
asttokens==2.2.1
certifi==2022.9.14
charset-normalizer==2.0.4
cryptography==37.0.1
cycler==0.11.0
debugpy==1.6.0
distlib==0.3.7
executing==1.2.0
filelock==3.12.2
fonttools==4.25.0
googleapis-common-protos==1.56.4
idna==3.3
jupyter_core==4.11.2
kiwisolver==1.4.2
MarkupSafe==2.0.1
nest-asyncio==1.5.5
packaging==21.3
pexpect==4.8.0
platformdirs==2.5.2
prompt-toolkit==3.0.36
protobuf==3.19.4
psutil==5.9.0
Pygments==2.11.2
pyparsing==3.0.9
pytz==2022.1
pyzmq==23.2.0
requests==2.28.1
setuptools==63.4.1
stack-data==0.6.2
tornado==6.1
traitlets==5.1.1
urllib3==1.26.11
wcwidth==0.2.5
cffi==1.15.1

