asttokens==2.0.5
backcall==0.2.0
blinker==1.4
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.0.4
comm==0.1.2
contourpy==1.0.5
cryptography==39.0.1
cycler==0.11.0
databricks-sdk==0.1.6
dbus-python==1.2.18
debugpy==1.6.7
decorator==5.1.1
distlib==0.3.7
entrypoints==0.4
executing==0.8.3
filelock==3.13.1
fonttools==4.25.0
googleapis-common-protos==1.62.0
grpcio==1.48.2
grpcio-status==1.48.1
httplib2==0.20.2
idna==3.4
importlib-metadata==4.6.4
ipykernel==6.25.0
ipython==8.14.0
jedi==0.18.1
jeepney==0.7.1
Jinja2==3.1.2
jupyter-client==7.3.4
jupyter_core==5.2.0
keyring==23.5.0
kiwisolver==1.4.4
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
MarkupSafe==2.1.1
matplotlib==3.7.0
matplotlib-inline==0.1.6
more-itertools==8.10.0
nest-asyncio==1.5.6
numpy==1.23.5
oauthlib==3.2.0
packaging==23.2
pandas==1.5.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pillow==9.4.0
pip==22.3.1
platformdirs==2.5.2
prompt-toolkit==3.0.36
protobuf==4.24.0
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==8.0.0
pycparser==2.21
Pygments==2.11.2
PyGObject==3.42.1
PyJWT==2.3.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-lsp-jsonrpc==1.1.2
pytz==2022.7
pyzmq==23.2.0
requests==2.28.1
SecretStorage==3.3.1
setuptools==65.6.3
six==1.16.0
stack-data==0.2.0
tornado==6.1
traitlets==5.7.1
unattended-upgrades==0.1
urllib3==1.26.14
virtualenv==20.16.7
wadllib==1.3.6
wcwidth==0.2.5
wheel==0.38.4
zipp==1.0.0
